{% extends 'content/base.html' %}
{% load static %}

{% block title %}
    {{ seo.title }}
{% endblock %}

{% block description %}
    {{ seo.description }}
{% endblock %}

{% block head %}
{% endblock %}


{% block body %}

<div class="about">

    <h1>Функция временно недоступна из-за войны в Украине</h1>
    <h2>Поддержать Украинскую армию можна тут:</h2>
    <a href="https://bank.gov.ua/ua/about/support-the-armed-forces">Національний банк України</a>
    <a href="https://www.rnbo.gov.ua/ua/Diialnist/1619.html">Міністерство оборони України</a>


</div>





{% endblock %}