{% extends 'content/base.html' %}
{% load static %}

{% block title %}
    {{ seo.title }}
{% endblock %}

{% block description %}
    {{ seo.description }}
{% endblock %}

{% block head %}
{% endblock %}


{% block body %}

<div class="main_p">

    <div class="block_1">

    </div>

    <div class="block_2">



        <div class="left_position w-30 ">
            <div data-aos="fade-right">
                <br>
                <div class="ceo_text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium et itaque magnam sequi vero? Aperiam consequatur et facere inventore porro reiciendis voluptas. Maxime nulla odio pariatur quidem quisquam ut vitae.
                </div>
            </div>
             <div data-aos="fade-right">

                <div class="ceo_text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium et itaque magnam sequi vero? Aperiam consequatur et facere inventore porro reiciendis voluptas. Maxime nulla odio pariatur quidem quisquam ut vitae.
                </div>
            </div>
        </div>

    </div>




</div>





{% endblock %}
